ipykernel
jupyter
tqdm
langchain
langchain_core
langchain-google-genai
python-dotenv
matplotlib
numpy
pandas
scikit-learn
seaborn
imbalanced-learn
xgboost
streamlit
joblib
fastapi[standard]
SQLAlchemy
passlib[bcrypt]
PyJWT
python-multipart